<div class="container">
  <h2>Login</h2>
  <form (submit)="login(); $event.preventDefault()">
    <div class="mb-3">
      <label>Email</label>
      <input type="email" name="email" [(ngModel)]="email" class="form-control" required />
    </div>
    <div class="mb-3">
      <label>Password</label>
      <input type="password" name="password" [(ngModel)]="password" class="form-control" required />
    </div>
    <button class="btn btn-primary">Login</button>
    <p *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</p>
  </form>
</div>
